
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

  <div *ngIf="_productosService.productos$ | async as productos; else loading" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4 animated fadeIn">
    <a [routerLink]="['/item', item.cod]" class="rk-item ae-masonry__item"  *ngFor="let item of productos">
      <img src="assets/productos/{{item.url}}.jpg" alt="">
      <div class="item-meta">
        <h2>{{ item.titulo }}</h2>
        <p>{{ item.categoria }}</p>
      </div>
    </a>
  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</section>
